{{#partial "navbar"}}
    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
    <li class="nav-item"><a class="nav-link" href="/heroes/new">Create Your Own Hero</a></li>
    <li class="nav-item"><a class="nav-link" href="/squads/new">Create a New Squad</a></li>
    <li class="nav-item"><a class="nav-link" href="/heroes">All Heroes & Squads</a></li>

{{/partial}}

{{#partial "content"}}
    <h5 class="text-center">Mission Accomplished! <a href="/">See you at home</a></h5>
{{/partial}}

{{> layout.hbs}}